Butterfly PA -- does it do any kind of good job?

In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import pandas as pd
import numpy as np

In [13]:
butterfly_data = pd.read_csv("/data/cher/geollm-bias/playground/coordinates/butterfly_pa.csv")
butterfly_results = pd.read_csv("/data/cher/geollm-bias/playground/llm-responses/Butterfly_PA/expert-incontext-Meta-Llama-3.1-8B-Instruct-numeric.csv")

butterfly_results = butterfly_results.set_index('index')

In [16]:
merged = butterfly_data.merge(butterfly_results[~butterfly_results['prediction'].isna()], right_index = True, left_index = True)

In [ ]:
merged['prediction'].describe(percentiles = [0.1, 0.25, 0.5, 0.75, 0.9])

count    467.000000
mean       4.946895
std        1.856229
min        0.000000
10%        2.100000
25%        4.200000
50%        4.500000
75%        6.200000
90%        6.800000
max        8.500000
Name: prediction, dtype: float64

In [22]:
merged.groupby('Presence')['prediction'].mean()

Presence
0    5.090000
1    4.933489
Name: prediction, dtype: float64

In [32]:
# Are the data points reasonable? Or are they all in areas we would expect to see such a butterfly? Look at the predictions by land-use / landcover?

merged

,eventDate,Latitude,Longitude,scientificName,genericName,species,Presence,prediction
0,2025-01-06,45.470638,-122.640968,"Nymphalis antiopa (Linnaeus, 1758)",Nymphalis,Nymphalis antiopa,0,7.5
1,2025-01-06,45.470638,-122.640968,"Nymphalis californica (Boisduval, 1852)",Nymphalis,Nymphalis californica,0,1.2
2,2024-09-14,30.118896,-84.237907,"Ocaria ocrisia (Hewitson, 1868)",Ocaria,Ocaria ocrisia,0,7.8
3,2024-09-06,45.492035,-122.502914,"Ochlodes sylvanoides (Boisduval, 1852)",Ochlodes,Ochlodes sylvanoides,0,1.4
4,2024-08-04,41.615753,-83.601013,"Pyrgus communis (Grote, 1872)",Pyrgus,Pyrgus communis,0,6.5
...,...,...,...,...,...,...,...,...
999,2022-04-05T10:45/2022-04-05T12:15,32.339469,-110.981741,"Anthanassa texana (W.H.Edwards, 1863)",Anthanassa,Anthanassa texana,1,6.2
1000,2022-04-05,37.416387,-78.438089,"Anthocharis midea (Hübner, 1809)",Anthocharis,Anthocharis midea,1,4.5
1002,2022-04-03T12:25/2022-04-03T13:10,32.745465,-79.913369,Pterourus palamedes,Pterourus,Pterourus palamedes,1,3.0
1004,2022-04-02T02:25/2022-04-02T14:03,61.418955,-149.180161,"Nymphalis antiopa (Linnaeus, 1758)",Nymphalis,Nymphalis antiopa,1,0.0
1005,2022-04-01T09:45/2022-04-01T12:30,34.120863,-112.151602,"Dymasia dymas (Edwards, 1877)",Dymasia,Dymasia dymas,1,0.0

In [36]:
import requests
import overpy

# Define the coordinate (latitude, longitude)
lat = 45.470638  # Example latitude (Berlin)
lon = -122.640968  # Example longitude (Berlin)

# Define the Overpass query
overpass_query = f"""
[out:json];
node(around:50,{lat},{lon});
way(around:50,{lat},{lon});
relation(around:50,{lat},{lon});
out body;
"""

# Send the GET request
result = overpy.Overpass().query(overpass_query)
# response = requests.get(url, params={'data': overpass_query})

# # Check if the request was successful
# if response.status_code == 200:
#     data = response.json()
    
#     # Extract and print landuse information
#     landuses = []
#     for element in data['elements']:
#         if 'tags' in element and 'landuse' in element['tags']:
#             landuses.append(element['tags']['landuse'])
    
#     if landuses:
#         print("Landuse types at the specified location:")
#         print(landuses)
#     else:
#         print("No landuse data found.")
# else:
#     print(f"Error: {response.status_code}")

In [39]:
import overpy

# Initialize the Overpy API object
api = overpy.Overpass()

# Define the coordinate (latitude, longitude)
lat = 52.5200  # Example latitude (Berlin)
lon = 13.4050  # Example longitude (Berlin)

# Query to get landuse information around the given coordinates
query = f"""
node(around:50, {lat}, {lon});
way(around:50, {lat}, {lon});
relation(around:50, {lat}, {lon});
out body;
"""

# Execute the query
result = api.query(query)

# Extract and print the landuse information
landuses = set()

# Check nodes, ways, and relations for landuse tags
for element in result.nodes + result.ways + result.relations:
    if 'landuse' in element.tags:
        landuses.add(element.tags['landuse'])

# Display the landuse types found
if landuses:
    print("Landuse types at the specified location:")
    print(landuses)
else:
    print("No landuse data found.")

No landuse data found.

In [44]:
result.relations

[<overpy.Relation id=14613>,
 <overpy.Relation id=28286>,
 <overpy.Relation id=582233>,
 <overpy.Relation id=1231708>,
 <overpy.Relation id=1900690>,
 <overpy.Relation id=1900691>,
 <overpy.Relation id=1986097>,
 <overpy.Relation id=1986098>,
 <overpy.Relation id=2012421>,
 <overpy.Relation id=2012422>,
 <overpy.Relation id=2012423>,
 <overpy.Relation id=2012424>,
 <overpy.Relation id=2014012>,
 <overpy.Relation id=2014013>,
 <overpy.Relation id=2076353>,
 <overpy.Relation id=2076355>,
 <overpy.Relation id=2194814>,
 <overpy.Relation id=2206192>,
 <overpy.Relation id=2211984>,
 <overpy.Relation id=2211985>,
 <overpy.Relation id=2441959>,
 <overpy.Relation id=2441960>,
 <overpy.Relation id=2512806>,
 <overpy.Relation id=2512807>,
 <overpy.Relation id=2533890>,
 <overpy.Relation id=3425226>,
 <overpy.Relation id=3734526>,
 <overpy.Relation id=3820051>,
 <overpy.Relation id=5597954>,
 <overpy.Relation id=5829219>,
 <overpy.Relation id=5829220>,
 <overpy.Relation id=6187328>,
 <overpy.Relation id=6187329>,
 <overpy.Relation id=6652706>,
 <overpy.Relation id=7187524>,
 <overpy.Relation id=7187525>,
 <overpy.Relation id=9510274>,
 <overpy.Relation id=9510275>,
 <overpy.Relation id=9515445>,
 <overpy.Relation id=9515446>,
 <overpy.Relation id=9518252>,
 <overpy.Relation id=9518253>,
 <overpy.Relation id=9523808>,
 <overpy.Relation id=9523809>,
 <overpy.Relation id=9884615>,
 <overpy.Relation id=9884616>,
 <overpy.Relation id=10088292>,
 <overpy.Relation id=10718314>,
 <overpy.Relation id=10718315>,
 <overpy.Relation id=10744515>,
 <overpy.Relation id=10744516>,
 <overpy.Relation id=10754340>,
 <overpy.Relation id=10754341>,
 <overpy.Relation id=10761815>,
 <overpy.Relation id=10761816>,
 <overpy.Relation id=10762030>,
 <overpy.Relation id=10762031>,
 <overpy.Relation id=11721273>,
 <overpy.Relation id=11721274>,
 <overpy.Relation id=12138360>,
 <overpy.Relation id=12706359>,
 <overpy.Relation id=16487091>,
 <overpy.Relation id=16490324>]